header,
footer {
  text-align: center;
  background-color: orange;
  color: black;
}

footer {
  height: 70px;
  text-align: center;

}


main {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
}

body {
  background-color: palegoldenrod;

}

section h2 {
  background-color: rgb(158, 144, 118);
  border: .1em solid black;
}

header h1,
header h2 {
  margin: .8em;
}

section {
  background-color: rgb(230, 198, 140);
  padding: .5em;
  margin: 1em;
}

/*Tablet View ***********************/
@media only screen and (min-width: 37em) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  section:nth-child(3) {
    grid-column: span 2;
  }

}

/*Desktop View ***********************/

@media only screen and (min-width: 60em) {
  main {
    columns: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  section:nth-child(3) {
    grid-column: span 1;
  }

}